body {
  background-color: rgb(20, 20, 20);
}

.App {
  max-width: 350px;
  margin: auto;
}

.input{
  background: #fff;
  /* margin-right: 10px; */
  /* width: 100%; */
  width: 343px;
  border-radius: 0;
  border-color: #fff;
}

.input-text{
  /* margin-left: 10px; */
}

.inputs{
  max-width: 350px;
  max-height: 50px;
  /* border: 1px solid black; */
  margin-top: 10px;
  margin-bottom: 10px;
  /* display: flex;
  justify-content: space-between; */
}

.buttons{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.button-create{
  border-radius: 0;
  /* margin-right: 1px; */
  width: 250px;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.button-clear{
  border-radius: 0;
  /* margin-left: 1px; */
  width: 95px;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.result{
  width: 343px;
  border-radius: 0;
  border-color: #fff;
}